/* Importaa fonte "Roboto" do Google Fonts em diversos estilos e pesos*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Define variáveis globais para cores e bardas, facilitando a manutenção e ajustes futuros*/
:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid grey;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /**/
    font-family: 'Roboto', 'sans-serif';
    text-decoration: none;
    text-transform: capitalize;
    /**/
    transition: 0.2s linear;
    /**/
    outline: none;
    /**/
    border: none;
    /**/
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /* Configuração do font-size para 62.5%, facilitando o uso do rem ( 1REM = 10px)*/
    overflow-x: hidden;
    /**/
}

body {
    background: var(--bg);
}

header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    /*explicção do uso da porcentagem*/
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo img {
    height: 6.5rem;
    /* define a altura da logo*/
    border-radius: 100%;
    /* torna a logo circular*/

}

.ul-header {
    display: flex;
    gap: 15px;
    list-style: none;
}

.ul-header li a {
    color: #fff;
    font-size: 1.6rem;
}

.ul-header li a:hover {
    color: var(--main-color);
    /* muda a cor do hover*/
    border-bottom: 0.1rem solid var(--main-color);
    /* adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem;
    /* adiciona espaçamento inferior no hover*/
}

.icons {
    /* NÃO ESTOU MEXENDO NOS ÍCONES, E SIM NAS CAIXAS*/
    display: flex;
    align-items: center;

}

.icons {
    color: white;
    /* cor branca para ícones*/
    cursor: pointer;
    /* altera o cursor ao passar sobre o ícone*/
    font-size: 2.5rem;
    /* tamanho dos ícones*/
    gap: 15px;
}

.icons i:hover {
    color: var(--main-color);
    /* muda a cor do ícone ao passar o mouse*/
}

#home {
    display: flex;
    align-items: center;
    position: relative;
    /* permite posicionamento relativo*/
    min-height: 85vh;
    /* altura mínima da sessão*/
    background: url(imagens/images/home.jpg) no-repeat;
    /* add img sem repetição*/
    background-size: cover;
    /*preenchimento da imagem*/
    background-position: center;
    /* posicionamento da imagem*/
    border-bottom: var(--border);
    /* adiciona borda inferior*/
}

.content {
    max-width: 60rem;
    /* define largura máxima*/
    position: relative;
    /* permite manipular a posição*/
    z-index: 2;
    /* garante que o conteúdo fique acima da sobrreposição*/
}

.content h3 {
    font-size: 6rem;
    /* tamanho do título*/
    text-transform: uppercase;
    /* deixando o texto em caixa alta*/
    color: #fff;
    /* cor branca*/
}

.content p {
    font-size: 2rem;
    /* tamanho da letra para parágrafos*/
    font-weight: lighter;
    /* peso da fonte*/
    line-height: 1.8;
    /* espaçamento entre linhas*/
    padding: 1rem 0;
    /* espeçamento interno*/
    color: #fff;
    /* cor da letra*/
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section{
    padding: 2rem 7%; /*garanteeapaçamento interno nas sessões*/
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase; /*texto em caxa alta*/
    padding-bottom: 3rem; /*espaçamento inferior em relação ao título*/
    font-size: 4rem;/*40px*/
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase; /*texto em caixa alta*/
}

.btn {
    margin-top: 1rem;
    padding: 0.9rem 3rem;/*preenchimento interno superior e inferior*/
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    display: inline-block;/*deixando a formatação do botão em formato de bloco
    https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_span1*/


}

.btn:hover {
    letter-spacing: 0.2rem;/*espaçamento entre as letras ao passar o mouse*/
}

.row {
    display: flex;
    align-items: center;
    background: var(--bg-card);
    flex-wrap: wrap;/*permite que os itens quebrem para a proxima linha se necessário*/
    border: var(--border);/*aplica uma borda ao redor da linha*/
}

.row .image {
    flex: 1 1 45rem;/*define o tamanho flexível do elemento: base 45rem, podendo crescer ou encolher, ou seja, faz com que possa ser adaptável para telas grandes ou peq*/
}

.row .image img {
    width: 100%;/*faz co que a imagem ocupe td a largura do container (.image)*/

}

.row .content {
    flex: 1 1 45rem;/*define o tam flexível do conteúdo: base 45rem, poderá crescer ou diminuir*/
    padding: 2rem;/*adiciona espaçamento interno ao redor do conteúdo*/
}

.row .content h3 {
    font-size: 3rem;/*define o tam da fonte para substituí-lo*/
color: #fff;
}

.row .content p {
    font-size: 1.6rem;/*define o tam da font para parágrafo*/
    color: #ccc;/*define uma cor cinza clara pasa o texto*/
    padding: 1rem 0;/*add espaçamento interno vertical ao texto as laterais zeradas*/
    line-height: 1.8rem;/*define o espaçamento entre linhas de um texto*/
}

.container {
    display: grid; /*Organiza os elementos internos em um layout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /*Cria colunas flexiveis com larg. min. de 30rem e máx. proporcional*/
    gap: 1.5rem; /*Define o espaçamento entre os itens da grade*/
}

.container .box {
    padding: 5rem; /*add espaçamento interno ao redor do conteúdo da caixa*/
    text-align: center;/*centraliza o texo*/
    border: var(--border); /*aplicando uma borda ao redor da caixa*/
    background: var(--bg-card); /*define a cor de fundo da caixa*/
}

.container .box img {
    height: 18rem;/*define a altura da img*/
    border-radius: 100%;/*tornar a imagem circular*/
}

.container .box h2 {
    color: #fff;/*aplica a cor branca ao título*/
    font-size: 2rem;/*define o tam da fonte*/
    padding: 1rem;/*add espaçamento vertical ao título*/
}

.container .box .price {
    color: #fff;/*define a cor branca para o preço*/
    font-size: 2.5rem;/*define o tam. da fonte do preço*/
    padding: 0.5rem 0;/*add espaçamento vertical ao preço*/
}

.container .box .price span {
    font-size: 1,5rem;/*define o tam da fonte para o preço original*/
    text-decoration: line-through;/*aplica uma linha pra indicar*/
    font-weight: lighter;/*aplica um peso de fonte mais fino*/
}

.container .box:hover {
    background: #fff;
}

.container .box:hover>*{
    color: black;/*altera a cor dos elementos filhos para preto ao passsar o mouse*/
}





  
